<!DOCTYPE html>
<html>
<head>
  <title>JMBG.ORG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <h1>JMBG.ORG je sistem za generisanje matičnih brojeva za sve novorođene građanje Bosne i Hercegovine<h1>

    <%= yield %>

    <a href="<%= new_jmbg_path() %>"><div id="btn"></div></a>
  </div>

  <a href="http://www.atlantbh.com"><div id="footer"></div></a>  
</body>
</html>
