<!DOCTYPE html>
<html>
<head>
  <title>JMBG.ORG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/bs_BA/all.js#xfbml=1&appId=180756018740982";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

  <div id="container">
    <h1>JMBG.ORG je sistem za generisanje matičnih brojeva za sve novorođene građane Bosne i Hercegovine<h1>

    <%= yield %>
    
    <p>Napomena: Aplikacije ne generiše stvarne jedinstvene matične brojeve. Ona samo pokazuje kako rješenje ovog "problema" može biti jednostavno</p>

    <a href="<%= new_jmbg_path() %>"><div id="btn"></div></a>

    <div class="fb-like" data-href="https://www.facebook.com/Jmbgorg" data-send="true" data-width="350" data-show-faces="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Generišite novi JMBG" data-url="http://www.jmbg.org" data-hashtags="jmbg">Tweet</a>
  </div>

  <a href="http://www.atlantbh.com"><div id="footer"></div></a>

</body>
</html>
